{% extends 'header.html' %}
{% load static %}

{% block content %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0"><small>Feed</small></h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Feed</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  {% for single_post in posts %}
  <div class="content">
    <div class="container">
        <div class="row">
          <div class="col-md-2"></div>
        <div class="col-md-8">
          <!-- Box Comment -->
          <div class="card card-widget">
            <div class="card-header">
              <div class="user-block">
                <img class="img-circle" src="{{single_post.user.pic.url}}" alt="User Image">
                <span class="username"><a href="{% url 'other_user_profile' single_post.user.id %}">{{single_post.user.fullname}}</a></span>
                <span class="description">{{single_post.date}}</span>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <img class="img-fluid pad" width="705px" height="705px" src="{{single_post.pic.url}}" alt="Photo"><hr>
              <span class="float-left ">
                {% if session_user in single_post.likes.all %}
                <a href="{% url 'unlike' single_post.id %}" class="btn btn-default btn-sm"><i class="fas fa-thumbs-up"><b> Like</b></i></a>
                {% else %}
                <a href="{% url 'like' single_post.id %}" class="btn btn-default btn-sm"><i class="far fa-thumbs-up"><b> Like</b></i></a>
                {% endif %}
                <!-- <a href="{% url 'like' single_post.id %}" class="btn btn-default btn-sm"><i class="far fa-thumbs-up"></i> Like</a> -->
                <!-- <button type="button" class="btn btn-default btn-sm"><i class="fas fa-share"></i> Share</button> -->
              </span>
              <span class="float-right text-muted">{{single_post.likes_count}} likes - {{single_post.comment_count}} comments</span>
              <br><br>
              <b> <p>{{single_post.user.fullname}} -  </b> {{single_post.caption}} </p>
                <p>{{single_post.hashtag}}</p>
            </div>

            <!-- /.card-footer -->
            <div class="card-footer">
              <form action="{% url 'comment' single_post.id %}" method="post">
                {% csrf_token %}
                <img class="img-fluid img-circle img-sm" width="" src="{{session_user.pic.url}}" alt="Alt Text">
                <!-- .img-push is used to add margin to elements next to floating images -->
                <div class="img-push">
                  <input type="text" class="form-control form-control-sm" name="comment" placeholder="Press enter to post comment" required>
                </div>
              </form>
            </div>
            <!-- /.card-footer -->

            {% for single_comment in comments %}
            <!-- /.card-body -->
            {% if single_comment.post == single_post %}
            <div class="card-footer card-comments">
              <div class="card-comment">
                <!-- User image -->
                <img class="img-circle img-sm" src="{{single_comment.user.pic.url}}" alt="User Image">

                <div class="comment-text">
                  <span class="username">
                    {{single_comment.user.fullname}}
                    <span class="text-muted float-right">{{single_comment.at}}</span>
                  </span><!-- /.username -->
                  {{single_comment.text}}
                </div>
                <!-- /.comment-text -->
              </div>
              <!-- /.card-comment -->
            </div>
            {% endif %}
            {% endfor %}

          </div>
          <!-- /.card -->
        </div>
          <div class="col-md-2"></div>

        <!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
  <!-- /.content -->
  </div>
  {% endfor %}


</div>

<!-- /.content-wrapper -->

{% endblock %}
